.Register-container {
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.login-container {
  background-color: yellowgreen;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.form-input p {
  color: red;
  font-size: larger;
}
