
body{
    text-align: center;
    background-image: url('../src/images/b4.jpg');
    background-size:cover;
    background-attachment: fixed;
}

.design{
    width:36%;
    margin: 0px 130px auto;
    }
    
    .mail-form-agile {
        padding: 50px 40px;
        text-align: center;
        margin:0px;
        color: #000;
        margin:0 auto;
    }
    
    
    ::-webkit-input-placeholder { 
      color:#fff;
    }
    ::-moz-placeholder { 
       color:#fff;
    }
    ::-ms-input-placeholder { 
       color:#fff;
    }
    ::-moz-placeholder { 
       color:#fff;
    }
    .mail-form-agile input[type="text"], .mail-form-agile input[type="tel"] ,.mail-form-agile input[type="datetime-local"], .mail-form-agile input[type="Number"], .mail-form-agile select,textarea{
    padding: 15px 10px;
    width: 200.5%;
    font-size: 8px;
    outline: none;
    background:transparent;
    border:0px;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing:1.6px;
    color:#fff;
    }
    
    .mail-form-agile input[type="submit"]{
    font-size: 18px;
    padding: 10px 20px;
    letter-spacing:1.2px;
    border: none;
    text-transform: capitalize;
    outline: none;
    background: #03A9F4;
    color: #fff;
    cursor: pointer;
    margin: 20px 0px 0px 115px;
    font-family: 'Open Sans', sans-serif;
    -webkit-transition-duration: 0.9s;
    transition-duration: 0.9s;
    }
    .mail-form-agile input[type="submit"]:hover {
     -webkit-transition-duration: 0.9s;
     transition-duration: 0.9s;
     background:rgba(91, 157, 214, 0.76);
    }
    


.Register-container {
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.login-container {
  background-color: yellowgreen;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.form-input p {
  color: red;
  font-size: larger;
}


.AllPost{
   width: 60%;
   padding-bottom: 50px;
    border: 3px solid #73AD21;
    display: flex;
}
.Title{
  text-align: left;
    padding-left: 10px;
}
.img{
  padding: 0px 190px;
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
